/* GENERAL/BODY */

.App {
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FCEADE;
  color: #1D4E89;
  margin: 5em;
  padding: 2em;
}

h2 {
  color: #1D4E89;
}


/* HEADER/FOOTER */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #FCEADE;
  color: #1D4E89;
  margin-bottom: 0em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FF8A5B;
  color: #FCEADE;
  padding: 2em;
}

/* NAVIGATION */

.nav-bar ul {
  list-style-type: none;
}

.nav-bar-item {
  padding: 0.5em;
  display: inline;
  margin: 0em 0.1em 2em 0.1em;
  color: #1D4E89;
  border-radius: 5px;
}

.nav-bar-link:visited {
  color: #1D4E89;
}

.nav-bar-link:hover {
  color: #FF8A5B;
}

/* TABLES */

#exercises {
  margin-top: 5em;
}

table {
  display: inline-block;
  border-collapse: collapse;
}

tr th {
  border-left: solid 0.25rem #1D4E89;
  border-bottom: solid 0.25rem #1D4E89;
  background-color: #1D4E89;
  color: #FCEADE;
  padding: 0.5rem;
}

tr th:first-child, tr td:first-child {
  border-left: none;
}

tr td {
  border-left: solid 0.25rem #1D4E89;
  color: #1D4E89;
  padding: 0.5rem;
}

tr:hover {background-color: #FFFFFF;}

.icon {
  cursor: pointer;
}

/* FORMS */

input,
select,
button {
  font-family: 'Poppins', sans-serif;
  margin: 0.25em;
}
